.about{
    display: flex;
    gap: 10px;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .about{
    background-color: rgb(0, 155, 70);
     color: rgb(255, 255, 255);
     padding: 100px;
    }
    .trainers__item{
        width: 350px;
        padding: 15px;
        background-color: aliceblue;
       color: black;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
       }
       .trainers__name{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
       }
       .trainers__job{
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
        font-style: italic;
       }
       .trainers__desc{
        margin-top: 0;
        margin-bottom: 15px;
       }
       .trainers__link{
        display: block;
        padding: 10px;
        background-color: rgb(0, 155, 70);
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
       }
       .trainers__list{
        margin: 0;
        padding: 20px 0;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        list-style-type: none;
       }
       .trainers__image{
        width: 100%;
        height: 300px;
        object-fit: cover;
       }
       .trainers__link {
        /*тут ваш код кнопки*/
        transition: background-color 0.3s,
        color 0.3s;
       }
       .trainers__link:hover {
        background-color: #218838;
        color: #ffffff;
       }
       .trainers__link:active {
        background-color: #1e7e34;
        color: #ffffff;
       }
       .trainers__image {
        /*тут ваш код карточки */
        transition: box-shadow 0.3s;
       }
       .trainers__image:hover {
        box-shadow: 0 8px 16px 0
       rgba(0,0,0,0.2);
       }
    
    .about__info{
     margin-top: 0;
     margin-bottom: 15px;
     font-size: 14px;
     font-style: italic;
    }
    .trainers__info{
        width: 350px;
        padding: 15px;
        background-color: aliceblue;
       color: black;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
       }