.about{
    display: flex;
    gap: 10px;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .about{
    background-color: rgb(189, 17, 160);
     color: rgb(255, 255, 255);
     padding: 10px;
    }
    .trainers__item{
        width: 350px;
        padding: 15px;
        background-color: aliceblue;
       color: black;
        box-shadow: 1px 2px 20px 5px #d7d7d7;
       }
       .trainers__name{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
       }
       .trainers__job{
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 14px;
        font-style: italic;
       }
       .trainers__desc{
        margin-top: 0;
        margin-bottom: 15px;
       }
       .trainers__link{
        display: block;
        padding: 10px;
        background-color: rgb(255, 1, 200);
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
       }
       .trainers__list{
        margin: 0;
        padding: 20px 0;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        list-style-type: none;
       }
       .trainers__image{
        width: 100%;
        height: 300px;
        object-fit: cover;
       }
       